html, body {
    height: 100%;
}

.login-page {
    height: 100%;
    display: flex;
    justify-content: center;
    display: -ms-flex;
    align-items: center;
}

.login-page .login-form {
    height: 280px;
    max-width: 370px;
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
}

.login-page .login-form .login-form-header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.login-form-submit {
    font-size: 20px;
    padding: 5px 10px;
}

.login-page .login-form > div {
    margin-top: 30px;
    display: flex;
    outline: none;
}

.login-page .login-form input {
    padding: 10px 15px;
    border: 1px solid black;
    background: #599CFF;
    font-size: 20px;
}



.container {
    margin-top:10px;
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
.sign-in-box{
    display: flex;
    justify-content: space-between;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}